
.vs/WinFormsApp1/DesignTimeBuild/.dtbcache.v2
.vs/WinFormsApp1/FileContentIndex/db8cd7f8-3fdc-4311-9850-85a4fe13ee2b.vsidx
obj/Debug/net8.0-windows/WinFormsApp1.AssemblyInfo.vb
obj/Debug/net8.0-windows/WinFormsApp1.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/WinFormsApp1.assets.cache
obj/Debug/net8.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/WinFormsApp1.sourcelink.json
obj/Debug/net8.0-windows/WinFormsApp1.vbproj.CoreCompileInputs.cache
obj/Debug/net8.0-windows/WinFormsApp1.vbproj.FileListAbsolute.txt
obj/Debug/net8.0-windows/WinFormsApp1.vbproj.GenerateResource.cache
obj/project.assets.json
obj/project.nuget.cache
obj/WinFormsApp1.vbproj.nuget.dgspec.json
.vs/WinFormsApp1/FileContentIndex/a04cdf42-7c42-44cb-882b-bade939c60d2.vsidx
.vs/WinFormsApp1/FileContentIndex/ef3ed115-6124-4bdb-b4fd-a20ae23a4436.vsidx
.vs/WinFormsApp1/FileContentIndex/040fa2fc-e395-4b56-92cd-3f3e3afeeda4.vsidx
