
obj/Debug/net8.0-windows/WinFormsApp1.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0-windows/WinFormsApp1.assets.cache
.vs/WinFormsApp1/DesignTimeBuild/.dtbcache.v2
obj/project.assets.json
obj/Debug/net8.0-windows/WinFormsApp1.vbproj.AssemblyReference.cache
obj/project.nuget.cache
obj/WinFormsApp1.vbproj.nuget.dgspec.json
obj/WinFormsApp1.vbproj.nuget.g.props
